.background-dark-gray {
    background-color: #495057;
}

.footer {
    padding: 50px;
}

.footer-nav {
    max-width: 1024px;
    margin: 0 auto;
    padding: 50px 0;
    color: #b5b7b9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-nav__item li {
    padding: 8px 0;
}

.footer-nav__item li:hover {
    text-decoration: underline;
}

@media all and (max-width: 992px) {
    .footer-nav__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer-nav__item .not-end::after {
        margin: 0 0.8rem;
        content: '|';
    }
}

.footer-nav__img {
    -webkit-filter: brightness(100) saturate(0);
    filter: brightness(100) saturate(0);
}

@media all and (max-width: 992px) {
    .footer-nav__img {
        display: none;
    }
}

@media all and (max-width: 992px) {
    .footer-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 20px 0;
    }
}

.footer-info {
    max-width: 1024px;
    margin: 0 auto;
}

.footer-info__line {
    height: 1px;
    margin: 30px 0;
    background-color: #82868a;
    border: 0;
}

@media all and (max-width: 992px) {
    .footer-info__line {
        display: none;
    }
}

.footer-info__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-info__item p {
    margin: auto;
    color: #b5b7b9;
    font-size: 0.8rem;
}

.footer-info__item p span {
    color: #82868a;
}

.footer-info__item--description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
    color: #82868a;
}

.footer-info__item--description p {
    font-size: 0.8rem;
}

@media all and (max-width: 992px) {
    .footer-info__item--description {
        display: block;
    }
}

@media all and (max-width: 992px) {
    .footer-info__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}

.bold-text {
    font-weight: bold;
}

.white-text {
    color: white;
}