@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    /* background-color: grey; */
}

* {
    font-family: 'IBMPlexSansKR-Regular';
}

nav {
    display:flex;
    height: 80px;
    white-space: nowrap;
    justify-content: center;
}

.nav-wrap {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    border-bottom: solid 0.5px rgb(228, 228, 228);
}

.nav-container {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    height: 80px;
}

.logo {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'GangwonEduPowerExtraBoldA';
    animation: flicker 3s infinite alternate;
    color: rgb(106, 209, 137);
    cursor: pointer;
}

.logo:hover {
    color: rgb(68, 209, 110);
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 33%, 37%, 60% {
        text-shadow: 0 0 4px rgb(231, 255, 186),
        0 0 5px #fff,
        0 0 9px rgb(156, 228, 22),
        0 0 15px #fff,
        0 0 23px rgb(156, 228, 22),
        0 0 31px #fff,
        0 0 40px rgb(156, 228, 22),
        0 0 48px #fff,
        0 0 52px rgb(156, 228, 22),
        0 0 55px #fff,
        0 0 60px rgb(113, 223, 113);
    }
    20%, 24%, 35%, 58% {
        text-shadow: none;
    }
}

.search {
    height: 30px;
    max-width: 250px;
    width: 100%;
    border-radius: 20px;
    border: 0;
    background-color: rgba(187, 187, 187, 0.3);
    padding: 0 10px;
}

.search:focus {
    outline: 2px solid rgb(190, 190, 190);
}

.search:placeholder-shown {
    font-weight: bold;
}

.mypage-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px 5px 0 5px;
    cursor: pointer;
}

.nav-btns {
    display: flex;
    align-items: center;
}

.nav-btns > button {
    margin: 10px 13px;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    border-radius: 7px;
    height: 40px;
    line-height: 30px;
}

.item-upload-btn {
    background-color: rgb(191, 255, 194);
}

.item-upload-btn:hover {
    cursor: pointer;
    background-color: rgb(153, 250, 158);
}

.login-btn, .logout-btn {
    background-color: #ffefc2;
}

.login-btn:hover, .logout-btn:hover {
    cursor: pointer;
    background-color: #ffe398;
}


/* login & signup modal */
.modal-body {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 500px;
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    
}

.modal-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-inputs input {
    align-items: center;
    height: 30px;
    width: 100%;
    width: 200px;
    border-radius: 20px;
    border: 0;
    background-color: rgba(187, 187, 187, 0.3);
    margin: 5px;
    padding-left: 15px;

}

.modal-inputs input:focus {
    outline: 2px solid yellowgreen;
}

.login-submit-btn, .signup-submit-btn{
    height: 30px;
    max-width: 250px;
    width: 100%;
    border-radius: 20px;
    border: 0;
    background-color: rgba(187, 187, 187, 0.3);
}

.login-submit-btn:hover, .signup-submit-btn:hover {
    cursor: pointer;
    background-color: #ffe398;
}

.kakao-btn {
    height: 45px;
    width: 45px;
}

.kakao-btn:hover {
    cursor: pointer;
    border-radius: 70%;
}

.ask-sign {
    font-size: 13px;
}

.ask-sign a {
    color: blue;
}

.ask-sign a:hover {
    cursor: pointer;
}

#signup-modal-container h5 {
    margin:0 10px;
}

@keyframes scaleDown {
	0% {
		/* 모달 콘텐츠를 하단에 위치시킴 */
		transform: scale(.8) translateY(-1000px);
		opacity: 0;
	}
	100% {
		/* 모달 콘텐츠를 본래 위치로 돌려놓음 */
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}

@keyframes scaleUp {
	0% {
		transform: scale(1) translateY(0);
		opacity: 0.35;
	}
	100% {
		transform: scale(.8) translateY(0);
		opacity: 0;
	}
}

/* 모달 콘텐츠 반동 효과로 숨기기 */
@keyframes bodyGoOut {
	0% {
		transform: translateY(0px) skewX(0deg) scaleX(1);
        background: transparent;
	}
	30% {
		transform: translateY(-50px) skewX(0deg) scaleX(0.9);
        background: transparent;
	}
	100% {
		transform: translateY(-1000px) skewX(30deg) scaleX(1.3);
        background: transparent;
	}
}