.welcome-wrap {
    background-image: linear-gradient(to right top, #cfffb3, #d3ffb9, #d7ffbf, #daffc5, #deffcb);
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein-from-right {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.welcome-wrap > div > h1 {
    margin: 0;
    font-size: 45px;
    font-family: 'GangwonEduPowerExtraBoldA';
    color: rgb(35, 255, 101);
}

.welcome-wrap > div > h1:nth-child(3) {
    margin-bottom: 20px;
}

.welcome-wrap > div > p {
    margin: 0;
    font-size: 20px;
    animation: fadein-from-right 3.2s;
}

.arrow-wrap {
    background-color: transparent;
    padding: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    animation: none;
}

.welcome-wrap > div > i {
    font-size: 60px;
    color: rgb(0, 255, 98);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.arrow-wrap:hover {
    -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

/* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
    0% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  @keyframes hvr-icon-hang {
    0% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  @-webkit-keyframes hvr-icon-hang-sink {
    100% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  @keyframes hvr-icon-hang-sink {
    100% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }

.menu-icon-wrap {
    display: flex;
    margin: 15px 0 0 15px;
    top: 90px;
    height: 40px;
    max-width: 40px;
    width: 100%;
    position: sticky;
    z-index: 1;
}

.menu-modal-icon {
    color: rgb(175, 175, 175);
    background-color: white;
    font-size: 33px;
    height: 33px;
    width: 33px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 1px 1px 1px rgb(189, 189, 189);
    cursor: pointer;
}

.main-body {
    min-height: 1200px;
    max-width: 920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
}

.item-section-wrap {
    display: flex;
    justify-content: left;
    white-space: nowrap;
    max-width: 920px;
    min-width: 300px;
    width: 100%;
    height: 50px;
    margin-top: 70px;
}

.item-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 236);
    max-width: 351px;
    min-width: 160px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-left: 20px;
}

.item-section-btn {
    max-width: 172px;
    min-width: 80px;
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#lend-btn, #borrow-btn {
    background-color: rgb(236, 236, 236);
}
#lend-btn:hover {
    background-color: rgb(191, 255, 194);
}

#borrow-btn:hover {
    background-color: #ffefc2;
}

.category-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 10px;
    border-radius: 10px;
    /* border: 1px solid rgb(221, 221, 221); */
}

.category-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 130px;
    margin: 3px 10px;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(236, 236, 236);
}

.category-container:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.item-list-category {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: left;
    align-items: center;
    max-width: 920px;
    width: 100%;
    height: 70px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: -25px;
}

.list-category, .list-base {
    margin-left: 20px;
}

.list-search {
    margin-left: 12px;
}

.list-section {
    margin-left: 12px;
    color: aqua;
}

.list-address {
    margin-left: 12px;
    color: rgb(180, 180, 180);
}

.item-wrap {
    display: flex;
    flex-flow: row wrap;
    max-width: 920px;
    width: 100%;
    justify-content: flex-start;
}

.item-link-box {
    height: 295px;
    max-width: 200px;
    width: 100%;
    margin: 20px 15px;
    cursor: pointer;
    overflow: hidden;
}

.item-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    transform: scale(1);
    transition: all 0.3s linear;
}

.item-link-box:hover > img{
    transform: scale(1.02);
}

.item-desc {
    display: flex;
    flex-direction: column;
    height: 110px;
    font-size: 15px;
    margin: 0 5px;
}

.item-title {
    font-size: 17px;
    margin: 5px 0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-price {
    font-weight: bold;
    margin: 2px 0;
}

.item-location {
    margin: 2px 0;
}

.item-interest {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    opacity: 0.6;
    margin: 2px 0;
}

.like-count, .inquiry-count {
    margin: 0 5px;
}
@media screen and (max-width: 916px) {
    .category-container {
        width: 154px;
    }
}
@media screen and (max-width: 822px) {
    .category-container {
        width: 144px;
    }

}
@media screen and (max-width: 772px) {
    .item-list-category {
        font-size: 22px;
        margin-bottom: -20px;
    }
    .item-link-box {
        max-width: 206px;
    }

    .item-image {
        max-width: 206px;
    }
    
    .item-desc {
        font-size: 14px;
    }
    
    .item-title {
        font-size: 16px;
    }
   
    .item-interest {
        font-size: 12px;
    }

    .category-wrap {
        justify-content: space-evenly;
    }

    .category-container {
        width: 121px;
    }
}

@media screen and (max-width: 656px) {
    .category-container {
        width: 104px;
    }
}

@media screen and (max-width: 574px) {
    .category-container {
        font-size: 13px;
        width: 90px;
    }
}

@media screen and (max-width: 503px) {

}

@media screen and (max-width: 475px) {
    .welcome-wrap > div > h1 {
        font-size: 35px;
    }
    .welcome-wrap > div > p {
        font-size: 15px;
    }
    .welcome-wrap > i {
        font-size: 40px;
        margin-left: 65px;
    }

    .menu-icon-wrap {
        top: 70px;
    }

    .menu-modal-icon {
        height: 33px;
        width: 33px;
        padding: 0;
    }

    .item-section-wrap {
        margin-top: 60px;
        width: 240px;
    }

    .item-section-btn {
        font-size: 12px;
    }

    .item-list-category {
        font-size: 18px;
        margin-bottom: -40px;
    }

    .item-link-box {
        max-width: 172px;
        height: 254px;
    }

    .item-image {
        max-width: 172px;
        height: 172px;
    }
    
    .item-desc {
        font-size: 13px;
    }
    
    .item-title {
        font-size: 15px;
    }
   
    .item-interest {
        font-size: 12px;
    }

    .category-container {
        width: 100px;
    }
}

@media screen and (max-width: 405px) {
    .item-link-box {
        max-width: 152px;
        height: 234px;
    }

    .item-image {
        max-width: 152px;
        height: 152px;
    }

    .category-container {
        font-size: 12px;
        width: 90px;
    }
}
@media screen and (max-width: 376px) {

    .item-link-box {
        max-width: 136px;
        height: 210px;
    }

    .item-image {
        max-width: 136px;
        height: 130px;
    }

    .item-list-category {
        font-size: 15px;
        margin-bottom: -50px;
    }

    .item-section-wrap {
        width: 200px;
    }
}

@media screen and (max-width: 333px) {
    .item-link-box {
        max-width: 120px;
        height: 210px;
    }
    
    .item-image {
        max-width: 120px;
        height:  120px;
    }

    .item-list-category {
        font-size: 13px;
        margin-bottom: -60px;
    }

    .category-container {
        font-size: 10px;
        width: 70px;
    }
}


@keyframes fadeIn {
	0% {
		background: transparent;
	}
	100% {
		background: rgba(0, 0, 0, 0.1);
	}
}

/* 모달 콘텐츠 반동 효과로 나타나기 */
@keyframes roadRunnerIn {
	0% {
		transform: translateX(-10px) skewX(5deg) scaleX(1.1);
	}
	70% {
		transform: translateX(0px) skewX(0deg) scaleX(1);
	}
	100% {
		transform: translateX(0px) skewX(0deg) scaleX(1);
	}
}

@keyframes scaleLeft {
	0% {
		transform: scale(1) translateX(0);
		opacity: 1;
	}
	100% {
		transform: scale(1) translateX(-1000px);
		opacity: 0;
	}
}

/* 모달 콘텐츠 반동 효과로 숨기기 */
@keyframes wrapRunnerOut {
	0% {
		transform: translateX(0px) skewX(0deg) scaleX(1);
        background: transparent;
	}
	30% {
		transform: translateX(50px) skewX(0deg) scaleX(0.9);
        background: transparent;
	}
	100% {
		transform: translateX(-3000px) skewX(30deg) scaleX(1.3);
        background: transparent;
	}
}