
.menu-icon-wrap, .main-body-top {
    display: flex;
    margin: 10px 0 0 10px;
    top: 0;
    height: 58px;
    max-width: 58px;
    width: 100%;
}

.menu-modal-icon {
    color: rgb(175, 175, 175);
    background-color: white;
    font-size: 40px;
    height: 40px;
    width: 40px;
    padding: 8px;
    position: fixed;
    border-radius: 10px;
    box-shadow: 0 1px 1px 1px rgb(189, 189, 189);
    cursor: pointer;
    z-index: 1;
}

.main-body {
    min-height: 1200px;
    max-width: 920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.item-section-wrap {
    display: flex;
    justify-content: left;
    white-space: nowrap;
    max-width: 920px;
    min-width: 300px;
    width: 100%;
    height: 50px;
    margin: 0 10px;
    margin-top: 25px;
}

.item-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 236);
    max-width: 244px;
    min-width: 160px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.item-section-btn {
    max-width: 120px;
    min-width: 80px;
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#lend-btn {
    background-color: rgb(236, 236, 236);
}

#borrow-btn {
    background-color: rgb(236, 236, 236);
}

#lend-btn:hover {
    background-color: rgb(191, 255, 194);
}

#borrow-btn:hover {
    background-color: #ffefc2;
}

.item-list-category {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: left;
    max-width: 920px;
    width: 100%;
    height: 70px;
    margin: 0 10px;
    font-weight: bold;
    font-size: 30px;
}

.list-search {
    margin-left: 12px;
}

.list-section {
    margin-left: 12px;
    color: aqua;
}

.list-address {
    margin-left: 12px;
    color: rgb(180, 180, 180);
}

.item-wrap {
    display: flex;
    flex-flow: row wrap;
    max-width: 920px;
    width: 100%;
    justify-content: flex-start;
}

.item-link-box {
    height: 321px;
    max-width: 200px;
    width: 100%;
    margin: 20px 15px;
    cursor: pointer;
    overflow: hidden;
}


.item-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    transform: scale(1);
    transition: all 0.3s linear;
}

.item-link-box:hover > img{
    transform: scale(1.02);
}

.item-desc {
    display: flex;
    flex-direction: column;
    height: 110px;
    font-size: 15px;
    margin: 0 5px;
}

.item-title {
    font-size: 17px;
    margin: 5px 0;
}

.item-price {
    font-weight: bold;
    margin: 2px 0;
}

.item-location {
    margin: 2px 0;
}

.item-interest {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    opacity: 0.6;
    margin: 2px 0;
}

.like-count, .inquiry-count {
    margin: 0 5px;
}


/* 모달 */
.category-modal-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

.category-modal-container {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    max-width: 300px;
    width: 100%;
    height: 880px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.category-modal-close {
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
    height: 30px;
}

.category-modal-close-btn {
    border: 0;
    background-color: transparent;
    text-shadow: 0 0 0 gray;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.category-modal-box {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    height: 900px;
    margin: 10px 0;
}

.category-container {
    /* background-color: red; */
    width: 320px;
    margin-left: -10px;
}

.category-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    width: 200px;
    margin: 0 40px;
    cursor: pointer;
}

.category-container:hover {
    background-image: linear-gradient(to right top, #dcdcdc, #dedede, #dfe0df, #e1e1e1, #e3e3e3, #e6e6e6, #e8e8e8, #ebebeb, #efefef, #f2f2f2, #f6f6f6, #fafafa);
}

@media screen and (max-width: 770px) {
    .item-wrap {
        flex-grow: inherit;
    }
    .item-link-box {
        max-width: 226px;
    }

    .item-image {
        max-width: 226px;
    }
    
    .item-desc {
        font-size: 14px;
    }
    
    .item-title {
        font-size: 16px;
    }
   
    .item-interest {
        font-size: 12px;
    }

    .category-modal-container {
        height: 740px;
    }
    
}

@media screen and (max-width: 430px) {
    .item-link-box {
        max-width: 182px;
    }

    .item-image {
        max-width: 182px;
    }
    
    .item-desc {
        font-size: 13px;
    }
    
    .item-title {
        font-size: 15px;
    }
   
    .item-interest {
        font-size: 12px;
    }
    
}

@media screen and (max-width: 376px) {
    .item-link-box {
        max-width: 156px;
    }

    .item-image {
        max-width: 156px;
    }
}

@media screen and (max-width: 321px) {
    .item-link-box {
        max-width: 130px;
    }

    .item-image {
        max-width: 130px;
    }
}


@keyframes fadeIn {
	0% {
		background: transparent;
	}
	100% {
		background: rgba(0, 0, 0, 0.1);
	}
}

/* 모달 콘텐츠 반동 효과로 나타나기 */
@keyframes roadRunnerIn {
	0% {
		transform: translateX(-10px) skewX(5deg) scaleX(1.1);
	}
	70% {
		transform: translateX(0px) skewX(0deg) scaleX(1);
	}
	100% {
		transform: translateX(0px) skewX(0deg) scaleX(1);
	}
}

@keyframes scaleLeft {
	0% {
		transform: scale(1) translateX(0);
		opacity: 1;
	}
	100% {
		transform: scale(1) translateX(-1000px);
		opacity: 0;
	}
}

/* 모달 콘텐츠 반동 효과로 숨기기 */
@keyframes wrapRunnerOut {
	0% {
		transform: translateX(0px) skewX(0deg) scaleX(1);
        background: transparent;
	}
	30% {
		transform: translateX(50px) skewX(0deg) scaleX(0.9);
        background: transparent;
	}
	100% {
		transform: translateX(-3000px) skewX(30deg) scaleX(1.3);
        background: transparent;
	}
}