.main-body {
    display: flex;
    justify-content: center;
    min-height: 900px;
}

.main-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1300px;
    width: 100%;
    min-height: 900px;
    margin-top: 80px;
}

.main-left-container {
    max-width: 330px;
    width: 100%;
    margin: 0 20px;
}

.profile-info-box {
    max-width: 330px;
    width: 100%;
    height: 90px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
}

.profile-info-image {
    max-width: 80px;
    width: 100%;
    height: 80px;
}

.profile-info-text {
    white-space: nowrap;
    margin: 5px 20px;
}

.info-text-nickname {
    font-size: 24px;
    font-weight: bold;
}

.info-text-score {

}

.mypage-category-box {
    max-width: 330px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.mypage-category-box > button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    width: 150px;
    margin: 15px 0;
    cursor: pointer;
}

.mypage-category-box > button:hover {
    transform: scale(1.1);
}

.main-right-container {
    max-width: 750px;
    width: 100%;
    margin: 0 15px 0 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.mypage-tap-wrap {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tab-info-container {
    max-width: 700px;
    width: 100%;
    height: 180px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.tab-info-box {
    max-width: 700px;
    width: 90%;
    height: 165px;
    background-color: rgb(81, 190, 154);
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.tab-inner-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab-info-image {
    max-width: 150px;
    width: 100%;
    height: 150px;
    margin: 8px 0 9px 8px;
    object-fit: cover;
    cursor: pointer;
}

.tab-info-text {
    width: 110px;
    height: 80px;
    line-height: 40px;
    margin: 0 10px;
}

.info-text-section {
    background-color: rgb(145, 255, 145);
    text-align: center;
    width: 110px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
}

.info-text-title {
    text-align: center;
    font-weight: bold;
}

.info-data {
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: rgb(121, 121, 121);
}

.myprofile-container {
    max-width: 700px;
    width: 100%;
    height: 500px;
}

.myprofile-top-box {
    max-width: 700px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.myprofile-image-box {
    max-width: 165px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myprofile-image-box > p {
    margin: -5px 0 0 0;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
}

.delete-user-btn {
    margin: 17px 0 0 0;
    border: none;
    background-color: rgb(255, 155, 172);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
}

.delete-user-btn:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    background-color: rgb(255, 121, 143);
}

.myprofile-info-box {
    max-width: 520px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
}

.myprofile-nickname-password, .myprofile-address {
    max-width: 500px;
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin: 0 50px 0 10px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.myprofile-nickname-password > p {
    font-size: 20px;
    font-weight: bold;
}

.myprofile-nickname-pw-btn > button {
    border: none;
    background: transparent;
    font-size: 13px;
    white-space: nowrap;
    cursor: pointer;
    height: 30px;
    width: 100px;
}

.myprofile-address > button {
    border: none;
    background: transparent;
    max-width: 75px;
    white-space: nowrap;
    width: 100%;
    height: 30px;
    font-size: 13px;
    cursor: pointer;

}

.myprofile-address > button:hover, .myprofile-nickname-pw-btn > button:hover {
    background-color: rgb(223, 223, 223);
}

.myprofile-address > p {
    font-size: 24px;
}

.myprofile-bottom-box {
    max-width: 700px;
    height: 500px;
    margin-top: 26px;
}






@media screen and (max-width: 769px) {
    
    .main-wrap {
        flex-direction: column;
        justify-content: flex-start;
        max-width: 750px;
    }
    
    .main-left-container {
        margin: auto;
        height: 500px;
        max-width: 600px;
        margin-left: 10px;
    }

    .main-right-container {
        max-width: 650px;
        margin: auto;
    }

}
