h2 {
    font-size: 30px;
}

.no-content {
    max-width: 500px;
    width: 100%;
    white-space: nowrap;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body {
    display: flex;
    justify-content: center;
}

.main-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1300px;
    width: 100%;
    margin-top: 80px;
}

.main-left-container {
    max-width: 330px;
    width: 100%;
    margin: 0 20px;
}

.main-left-container > hr {
    margin-right: 5px;
}

.profile-info-box {
    max-width: 330px;
    width: 100%;
    height: 90px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
}

.profile-info-image {
    max-width: 80px;
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 20px;
}

.profile-info-text {
    white-space: nowrap;
    margin: 5px 20px;
}

.info-text-nickname {
    font-size: 24px;
    font-weight: bold;
}

.info-text-score {
    opacity: 0.6;
    color: #3f3f3f;
}

.mypage-category-box {
    max-width: 330px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.mypage-category-box > button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    width: 150px;
    margin: 15px 0;
    cursor: pointer;
}

.mypage-category-box > button:hover {
    transform: scale(1.1);
}

.main-right-container {
    max-width: 750px;
    width: 100%;
    margin: 0 15px 0 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.mypage-tap-wrap {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tab-info-container {
    max-width: 700px;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
}

.tab-info-box {
    max-width: 700px;
    width: 95%;
    height: 165px;
    background-color: #74C5AC;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.tab-info-box:hover {
    background-color: #4cc59f;
    cursor: pointer;
}

.tab-inner-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab-info-text {
    width: 110px;
    height: 80px;
    line-height: 40px;
    margin: 0 10px;
}

.info-text-section {
    background-color: #9BFB79;
    text-align: center;
    width: 90px;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    border-radius: 30px;
}

.info-text-title {
    text-align: left;
    font-weight: bold;
    margin-left: 10px;
    white-space: nowrap;
}

.info-data {
    width: 200px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: rgb(94, 94, 94);
    white-space: nowrap;
}

/* 프로필 수정 */
.myprofile-container {
    max-width: 660px;
    width: 100%;
    height: 396px;
}

.myprofile-top-box {
    max-width: 700px;
    height: 350px;
    display: flex;
    flex-direction: row;
}

.myprofile-image-box {
    max-width: 165px;
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-info-image {
    width: 135px;
    height: 135px;
    margin: 8px 0 9px 14px;
    object-fit: cover;
    border-radius: 10px;
}

.myprofile-image-box > input {
    display: none;
}

.profile-upload-btn {
    background-color:#dddddd;
    margin: 5px 0 0 5px;
    border-radius: 4px;
    width: 110px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}

.profile-upload-btn:hover {
    background-color: #c5c5c5;
}

.myprofile-info-box {
    max-width: 500px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.myprofile-nickname > p, .myprofile-address > p {
    font-size: 13px;
    font-weight: bold;
}

.myprofile-nickname, 
.myprofile-address {
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    white-space: nowrap;
}

.myprofile-password {
    margin-left: 20px;
    margin-top: 10px;
    max-width: 500px;
    width: 90%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.myprofile-password > p {
    font-size: 14px;
    font-weight: bold;
}

.password-input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 280px;
    width: 100%;
    height: 150px;
    margin-top: -12px;
}

.myprofile-bottom-box {
    max-width: 660px;
    height: 70px;
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.myprofile-submit-btn {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    width: 100%;
    height: 80px;
    align-items: center;
}

.delete-user-btn, .submit-user-btn {
    margin: 17px 20px 0 0;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    width: 110px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.1);
}

.delete-user-btn {
    transform: scale(0.8);
    width: 80px;
    color: rgb(255, 131, 131);
}

.submit-user-btn {
    background-color: rgba(166, 255, 251, 0.945);
}

.submit-user-btn:hover {
    background-color: rgb(129, 255, 249);
}

.delete-user-btn:hover {
    color: rgb(255, 60, 60);
}

.profile-input {
    height: 30px;
    max-width: 250px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: rgba(187, 187, 187, 0.3);
    padding: 0 10px;
}

.feedback-body {
    max-width: 700px;
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

.feedback-title {
    height: 30px;
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: rgba(187, 187, 187, 0.3);
    padding-left: 10px;
}

.feedback-textarea {
    resize: none;
    border-radius: 5px;
    border: 0;
    background-color: rgba(187, 187, 187, 0.3);
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
    height: 150px;
    padding-left: 10px;
    padding-top: 10px;
}

.thanks-for-feedback {
    font-size: 14px;
    opacity: 0.6;
}

.submit-btn {
    max-width: 500px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.submit-btn > button {
    background-color: rgba(187, 187, 187, 0.3);
    border: none;
    border-radius: 10px;
    max-width: 90px;
    width: 100%;
    transform: scale(1);
    cursor: pointer;
}

.submit-btn > button:hover {
    background-color: rgb(153, 250, 158, 0.8);
    transform: scale(1.1);
}

/* 회원탈퇴 모달 */
.delete-modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.delete-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.delete-modal-container > p {
    margin: 0;
    text-align: center;
}

.delete-modal-btn-box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
}

.delete-modal-btn-box > button {
    border: 0;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: rgb(228, 228, 228);
    cursor: pointer;
    font-weight: bold;
}

.delete-modal-btn-box > button:nth-child(1):hover {
    background-color: rgb(191, 255, 194);
    transition: all 0.5s ease;
    transform: scale(1.2);
}

.delete-modal-btn-box > button:nth-child(2):hover {
    background-color: #ffe398;
    transition: all 0.5s ease;
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .main-body {
        width: 100%;
    }
    .main-wrap {
        /* margin-left: 10px;
        margin-right: 10px; */
        width: 90%;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 750px;
    }
    
    .main-left-container {
        height: 500px;
        width: 90%;
        /* margin-left: 10px;
        margin-right: 10px; */
    }

    .main-right-container {
        width: 95%;
    }

    .myprofile-image-box {
        margin-left: -14px;
    }

    .profile-input {
        width: 90%;
    }
}

@media screen and (max-width: 475px) {

    .info-text-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .info-data {
        position: absolute;
        margin-left: 165px;
        margin-top: 80px;
        width: 100px;
        font-size: 11px;
    }

}

@media screen and (max-width: 343px) {
    .info-text-title {
        max-width: 70px;
        font-size: 12px;
    }
}
