.main-body {
    display: flex;
    justify-content: center;
    min-height: 900px;
}

.main-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1300px;
    width: 100%;
    min-height: 900px;
    margin-top: 80px;
}

.main-left-container {
    max-width: 330px;
    width: 100%;
    margin: 0 20px;
}

.profile-info-box {
    max-width: 330px;
    width: 100%;
    height: 90px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
}

.profile-info-image {
    max-width: 80px;
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 20px;
}

.profile-info-text {
    white-space: nowrap;
    margin: 5px 20px;
}

.info-text-nickname {
    font-size: 24px;
    font-weight: bold;
}

.mypage-category-box {
    max-width: 330px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.mypage-category-box > button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    width: 150px;
    margin: 15px 0;
    cursor: pointer;
}

.mypage-category-box > button:hover {
    transform: scale(1.1);
}

.main-right-container {
    max-width: 750px;
    width: 100%;
    margin: 0 15px 0 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.mypage-tap-wrap {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tab-info-container {
    max-width: 700px;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
}

.tab-info-box {
    max-width: 700px;
    width: 95%;
    height: 165px;
    background-color: rgb(81, 190, 154);
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.tab-inner-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab-info-image {
    max-width: 150px;
    width: 100%;
    height: 150px;
    margin: 8px 0 9px 8px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 40px;
}

.tab-info-text {
    width: 110px;
    height: 80px;
    line-height: 40px;
    margin: 0 10px;
}

.info-text-section {
    background-color: rgb(145, 255, 145);
    text-align: center;
    width: 110px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
}

.info-text-title {
    text-align: center;
    font-weight: bold;
}

.info-data {
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: rgb(121, 121, 121);
}

/* 프로필 수정 */
.myprofile-container {
    max-width: 660px;
    width: 100%;
    height: 396px;
}

.myprofile-top-box {
    max-width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
}

.myprofile-image-box {
    max-width: 165px;
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myprofile-image-box > p {
    margin: -5px 0 0 0;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
}

.myprofile-info-box {
    max-width: 500px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.myprofile-nickname-password, 
.myprofile-address {
    max-width: 500px;
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.myprofile-password {
    margin-left: 20px;
    margin-top: 20px;
    max-width: 500px;
    width: 90%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myprofile-nickname-password > p {
    font-size: 20px;
    font-weight: bold;
}

.myprofile-nickname-btn > button {
    border: none;
    background: transparent;
    font-size: 13px;
    white-space: nowrap;
    cursor: pointer;
    height: 30px;
    width: 100px;
}

.password-input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 280px;
    width: 100%;
    height: 150px;
}

.myprofile-bottom-box {
    max-width: 660px;
    height: 70px;
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.myprofile-submit-btn {
    display: flex;
    flex-direction: row;
    max-width: 390px;
    width: 100%;
    justify-content: space-between;
}

.delete-user-btn, .submit-user-btn {
    margin: 17px 20px 0 0;
    border: none;
    background-color: rgb(255, 167, 182);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.1);
}

.delete-user-btn {
    transform: scale(0.8);
    width: 80px;
}

.submit-user-btn {
    background-color: rgb(143, 255, 212);
}

.submit-user-btn:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    background-color: rgb(75, 255, 186);
}

.delete-user-btn:hover {
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
    background-color: rgb(255, 121, 143);
}

.profile-input {
    height: 30px;
    max-width: 250px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: rgba(187, 187, 187, 0.3);
    padding: 0 10px;
}

.feedback-body {
    /* background-color: orange; */
    max-width: 700px;
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

.feedback-title {
    height: 30px;
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: rgba(187, 187, 187, 0.3);
    padding-left: 10px;
}

.feedback-textarea {
    resize: none;
    border-radius: 5px;
    border: 0;
    background-color: rgba(187, 187, 187, 0.3);
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
    height: 150px;
    padding-left: 10px;
    padding-top: 10px;
}

.thanks-for-feedback {
    font-size: 14px;
    opacity: 0.6;
}

.submit-btn {
    max-width: 500px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.submit-btn > button {
    background-color: rgba(187, 187, 187, 0.3);
    border: none;
    border-radius: 10px;
    max-width: 90px;
    width: 100%;
    transform: scale(1);
    cursor: pointer;
}

.submit-btn > button:hover {
    background-color: rgb(153, 250, 158, 0.8);
    transform: scale(1.1);
}

@media screen and (max-width: 769px) {
    
    .main-wrap {
        flex-direction: column;
        justify-content: flex-start;
        max-width: 750px;
    }
    
    .main-left-container {
        margin: auto;
        height: 500px;
        max-width: 600px;
        margin-left: 10px;
    }

    .main-right-container {
        max-width: 650px;
        margin: auto;
    }
}
